<header class="header-top first-section" style="top: 0px;">
  <div class="wrapper">
    <a class="logo" href="http://www.teamtailor.com/en">
      <img alt="Teamtailor" class="logopic" src="/assets/pictures/logo-white@2x.png">
    </a>
    <nav>
      <span id="js-mobile-menu-trigger" class="burger"><span>Meny</span></span>
      {{> "navigation"}}
    </nav>
  </div>
</header>