<ul id="js-navigation-menu" class="link-list nav" role="navigation">
  {{#foreach navigation}}
    <li role="presentation" >
      <a href="{{url absolute="true"}}">
        {{label}}
      </a>
    </li>
  {{/foreach}}
</ul>