<div id="top-promote-bar">
  <span>The world's smartest companies use Teamtailor</span>
  <a href="//fast.wistia.net/embed/iframe/49artp5w57?popover=true" class="see-why wistia-popover[height=400,playerColor=ef5469,width=640]">See why</a>
  <a href="http://www.teamtailor.com" title="Visit Teamtailor">Learn more</a>
</div>
